-i https://pypi.org/simple/
boto3==1.9.174
botocore==1.12.174
certifi==2020.12.5
chardet==4.0.0
docutils==0.17.1
easyprocess==0.3
idna==2.10
jmespath==0.10.0
numpy==1.19.5
pandas==0.24.2
praw==6.2.0
prawcore==1.0.1
python-dateutil==2.8.1 ; python_version >= '2.7'
pytz==2019.1
pyvirtualdisplay==0.2.4
requests==2.25.1
s3transfer==0.2.1
selenium==3.141.0
six==1.15.0
update-checker==0.18.0
urllib3==1.25.8
websocket-client==0.58.0
